[submodule "bootstrap/bootstrap/static/lib/bootstrap"]
	path = bootstrap/bootstrap/static/lib/bootstrap
	url = https://github.com/twitter/bootstrap
[submodule "modernizr/modernizr/static/lib/modernizr"]
	path = modernizr/modernizr/static/lib/modernizr
	url = https://github.com/Modernizr/Modernizr
[submodule "underscore/underscore/static/lib/underscore"]
	path = underscore/underscore/static/lib/underscore
	url = https://github.com/documentcloud/underscore
